.small-box {
  border-radius: 2px;
  position: relative;
  display: block;
  margin-bottom: 20px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.small-box > .inner {
  padding: 10px;
  margin-right: 20px;
}
.small-box .icon {
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  position: absolute;
  top: -10px;
  right: 10px;
  z-index: 0;
  font-size: 90px;
  color: rgba(0, 0, 0, 0.15);
}
.small-box:hover {
  text-decoration: none;
  color: #f9f9f9;
}
.small-box:hover .icon {
  font-size: 100px;
}
.bg-aqua {
  background-color: #00c0ef !important;
}
.bg-green {
  background-color: #00a65a !important;
}
